@import "tailwindcss";

:root {
  --background: #00012f;
  --foreground: #00012f;
}

@theme inline {
  
  --font-poppins: Poppins, sans-serif;
  --font-inspiration: inspiration, cursive;

  --color-background: var(--foreground);
  --color-foreground: var(--foreground);
  --color-primary: #6B2C91;
  --color-secondary: #E3D8E9;
  --color-purple: #CBACF9;
  --color-gray-100: #D1D1D1;
  --color-gray-dark: #00012f;

  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  --shadow-glass: 0 5px 50px inset rgba(255, 255, 255, 0.05), 0 6px 50px inset rgba(255, 255, 255, 0.05), 0 30px 50px inset rgba(255, 255, 255, 0.1),60px 70px 1500px inset rgba(255, 255, 255, 0.1);
  --shadow-white: 0 5px 20px inset rgba(255, 255, 255, 0.05), 0 6px 3px inset rgba(255, 255, 255, 0.05), 0 30px 20px inset rgba(255, 255, 255, 0.1);
  --shadow-icon: 0.4px 0.4px 0px #CBACF9,-0.4px -0.4px 0px #CBACF9;


  --text-verySmall:10px;
  --text-extraSmall:12px;
  --text-small:14px;
  --text-regular:18px;
  --text-medium:24px;
  --text-large:36px;
  --text-extraLarge:42px;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hiddenScrollbar {
  scrollbar-width: none;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.animate-pulse {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}